body {
  background: linear-gradient(
    109.6deg,
    rgb(247, 202, 201) 20.6%,
    rgb(146, 168, 209) 85.9%
  );
  opacity: 0.8;
}
h5 {
  color: #407088;
  font-weight: 300;
}

h1,
h5 {
  font-family: "Lobster", cursive;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Prompt", sans-serif;
}
.search-field {
  font-family: "Prompt", sans-serif;
  border-radius: 400px;
  width: 70%;
  min-width: 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-color: #407088;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-search,
.button-current {
  border-radius: 400px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #132743;

  border-color: #132743;
}
.button-search:hover,
.button-current:hover {
  background: rgb(247, 202, 201);
  border-color: #132743;
  color: #132743;
}

.weather-icon {
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
  color: #407088;
}
.container {
  margin-top: 64px;
  background: #fff;
  width: 80%;
}

.black {
  color: #132743;
}

.col {
  text-align: center;
}
.row {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 24px;
  padding-top: 24px;
}
.city {
  padding-top: 48px;
  position: relative;
  margin-left: 10%;
}
.day {
  text-align: right;
  position: relative;
  margin-right: 10%;
  margin-top: -48px;
}
.data {
  text-align: left;
  position: relative;
  margin-right: -10%;
}
.weather {
  display: inline;
  position: relative;
  display: flex;
  padding-bottom: 24px;
  margin-right: 15%;
  font-size: 48px;
  margin-left: 5%;
}
.current-weather {
  font-size: 48px;
  padding-left: 12px;
}
.fix {
  padding-top: 48px;
  display: block;
  margin-left: 10%;
  padding-bottom: 16px;
}
.degrees {
  font-size: 48px;
  display: inline;
  padding-left: 12px;
  font-weight: light;
  font-family: "Prompt", sans-serif;
  color: rgb(247, 202, 201);
  padding-bottom: 10px;
}
.f:hover,
.c:hover {
  color: #407088;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #407088;
}
a {
  text-decoration: none;
  color: #407088;
  cursor: auto;
}
#f:hover,
#c:hover {
  color: #132743;
  cursor: pointer;
}
#description {
  display: block;
}
#description::first-letter {
  text-transform: capitalize;
}
img {
  color: #132743;
}
